# https://dev.to/willvelida/pushing-container-images-to-github-container-registry-with-github-actions-1m6b
name: Deploy Images to GHCR

env:
  DOTNET_VERSION: '6.0.x'

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
      push-store-image:
        runs-on: ubuntu-latest
        permissions:
          contents: read
          packages: write
        defaults:
          run:
            working-directory: '.'
        steps:
          - name: 'Checkout GitHub Action'
            uses: actions/checkout@main

          - name: 'Login to GitHub Container Registry'
            uses: docker/login-action@v1
            with:
              registry: ghcr.io
              username: ${{github.actor}}
              password: ${{secrets.GITHUB_TOKEN}}

          - name: 'Build Inventory Image'
            run: "docker build dockerCustomImages/kaliDockerDesktop --tag ghcr.io/wsu-csg/containerlabkali:latest"

          - name: 'push'
            run: "docker push ghcr.io/wsu-csg/containerlabkali:latest"